.highlights-container {
  background-color: #000;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 80px;
}

.highlights-hero {
  padding-top: 150px;
}

.highlights-hero h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s ease-out;
}

@media (max-width: 1024px) {
  .highlights-container h2 {
    font-size: 2em;
  }
  .highlights-hero {
    padding-top: 150px;
  }
}

@media (max-width: 800px) {
  .highlights-container h2 {
    font-size: 1.5em;
  }
  .highlights-grid-container {
    padding: 20px 4%;
  }
}

@media (max-width: 500px) {
  .highlights-container h2 {
    font-size: 1.5em;
  }

  .highlights-grid-item {
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
