.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 10px;
}
.title-cards h2 {
  margin-bottom: 8px;
}
.card-list {
  height: max-content;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  display: none;
}
.card-list .card {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  position: relative;
}
.card-list img {
  cursor: pointer;
  width: 240px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.card-list img:hover {
  box-shadow: 0 0 20px #c285ff;
  border: 2px solid #f3e7ff;
  transition: 0.2s;
}
.card-list .card p {
  display: flex;
  margin-top: 5px;
  justify-content: end;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title-cards h2 {
    font-size: 20px;
  }
  .card-list img {
    width: 200px;
  }
  .card-list p {
    font-size: 12px;
  }
  .star-icon:hover {
    transition: 0.3s;
    transform: scale(1);
  }
}
@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 15px;
  }
  .card-list img {
    width: 165px;
  }
  .card-list p {
    font-size: 10px;
  }
}
