.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 10px;
}
.title-cards h2 {
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  display: none;
}
.card-list img {
  cursor: pointer;
  /* position: relative;
  display: inline-block; */
  width: 240px;
  /* margin-right: 10px;
  transition: all 0.4s ease;
  transition-delay: 0s; */
  border-radius: 4px;
}
.card-list .card {
  position: relative;
}
/* .card-list img:hover {
  display: block;
  z-index: 10;
  box-shadow: 0 0 35px #c285ff;
  border: 2px solid white;
  transform: scale(1.4);

  transition-delay: 0.4s;
} */
.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #fff;
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(0, 0, 0, 0.537);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 40px;
  transition: 0.5s ease-in-out;
}
.modal-close:hover{
  color: #c285ff;
  transition: 0.5s ease-in-out;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c285ff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.modal-button:hover {
  background-color: #9e47f5;
}

.favorite-button {
  background-color: black;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.favorite-button i {
  font-size: 30px;
}

@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title-cards h2 {
    font-size: 20px;
  }
  .card-list img {
    width: 200px;
  }
  .card-list p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 15px;
  }
  .card-list img {
    width: 165px;
  }
  .card-list p {
    font-size: 10px;
  }
}
