.fav {
  background-color: #000;
  color: #fff;
}

.fav-hero {
  position: relative;
  padding-top: 150px;
}

.fav-hero h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s ease-out;
}

.fav-banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.fav-hero-caption {
  width: 100%;
}

.fav-hero-caption h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.fav-loading,
.fav-error {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .fav-hero-caption h2 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .fav-hero-caption h2 {
    font-size: 1.5em;
  }
  .fav-cards-container {
    padding: 20px 4%;
  }
}

@media (max-width: 500px) {
  .fav-card {
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
