.you-container {
  width: 100%;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

.you-hero {
  position: relative;
  padding-top: 150px;
}

.you-hero h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s ease-out;
}

.you-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.you-spinner img {
  width: 23rem;
}

.you-spinner p {
  font-size: 20px;
  font-weight: bold;
}

.you-spinner .dot {
  font-size: 2rem;
  color: #fff;
  animation: dotFlashing 1.5s infinite linear;
}

@keyframes dotFlashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.you-spinner .dot:nth-child(1) {
  animation-delay: 0s;
}

.you-spinner .dot:nth-child(2) {
  animation-delay: 0.5s;
}

.you-spinner .dot:nth-child(3) {
  animation-delay: 1s;
}

.you-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  gap: 20px;
  /* padding: 20px 6%; */
  justify-items: center;
}

.you-grid-item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.you-grid-item {
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: slideUp 0.5s ease-out;
}

.you-grid-item-img {
  width: 100%;
  height: auto;
  border-radius: 4px;

  border: 2px solid transparent;
  max-height: 400px;
  object-fit: cover;

  transition: 0.3s;
}

.you-grid-item-img:hover {
  box-shadow: 0 0 20px #c285ff;
  border: 2px solid #f3e7ff;
  transition: 0.3s;
}

.you-grid-item-title {
  font-size: 14px;
}

.you-grid-item-overview {
  font-size: 12px;
  color: #ccc;
}

.you-loading,
.you-error {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .you-hero {
    width: 100%;
    padding-top: 150px;
  }

  .you-grid-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  .you-hero h2 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .you-grid-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 500px) {
  .you-grid-item {
    padding: 10px;
  }

  .you-grid-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
