@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #030303;
  color: white;
  font-family: "Varela Round", sans-serif;
}
a,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: "liga";
}

button {
  background: #450386;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}
.login-form button:hover {
  background: #c285ff;
  box-shadow: 0 0 35px #c285ff;
  color: black;
}
.root-container {
  font-family: "Varela Round", sans-serif; /* Apply to the root container */
}

.react-search-box {
  font-family: "Varela Round", sans-serif; /* Apply to the search box */
}

.modal {
  font-family: "Varela Round", sans-serif; /* Apply to modals or other elements as needed */
}

.react-search-box-dropdown-list-item {
  color: #030303;
  background-color: aqua;
}
.bncmtB {
  background-color: aqua;
}
