.modal-overlay {
  font-family: "Varela Round", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(7, 0, 13, 0.867),
    rgba(20, 1, 37, 0.675)
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-align: left;
}

.modal-overlay h2 {
  display: flex;
  justify-content: start;
}

.modal-content {
  box-shadow: 0 0 50px #c285ffa0;
  border: 2px solid #f3e7ff;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.537);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}
.modal-close:hover {
  color: #c285ff;
  transform: scale(1.1);
  transition: 0.2s;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overview-container {
  margin: 20px 0px;
}

.overview-container p {
  font-size: 14px;
}

.play-and-star-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
}

.modal-button {
  border: 0;
  outline: 0;
  padding: 16px;
  background: #450386;
  color: white;
  border-radius: 4px;
  font-family: "Varela Round", sans-serif;

  cursor: pointer;
  transition: 0.4s;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-button-container span {
  margin-right: 0.2rem;
}

.modal-button:hover {
  background: #c285ff;
  box-shadow: 0 0 35px #c285ff;
  color: black;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
  transition: 0.5s ease-in-out;
}

.modal-close-button:hover {
  color: #c285ff;
  transition: 0.5s ease-in-out;
}

.modal-action-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c285ff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.modal-action-button:hover {
  background-color: #9e47f5;
}

/* modal */

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}
.modal-close:hover {
  color: #c285ff;
  transform: scale(1.1);
  transition: 0.2s;
}


.overview-container {
  margin: 20px 0px;
}

.overview-container p {
  font-size: 14px;
}

.play-and-star-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
}

.modal-button {
  border: 0;
  outline: 0;
  padding: 16px;
  background: #450386;
  color: white;
  border-radius: 4px;
  font-family: "Varela Round", sans-serif;

  cursor: pointer;
  transition: 0.4s;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-button-container span {
  margin-right: 0.2rem;
}

.modal-button:hover {
  background: #c285ff;
  box-shadow: 0 0 35px #c285ff;
  color: black;
}

.favorite-button {
  font-family: "Varela Round", sans-serif;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.star-icon {
  transition: 0.3s;
}

.star-icon:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
